body{
  margin: 0;
}
h1{
  text-align: center;
  color: #16a596;
  font-family: 'Merriweather', serif;
}
h4{
  text-align: center;
  margin-left: 38px;
  color: #16a596;
  font-family: 'Merriweather', serif;
}
.hero{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(images/TFS_Article_2019_970x643.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box{
  width: 380px;
  height: 440px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  text-align: center;
  overflow: hidden;
}
.button-box{
width: 220px;
margin: 35px auto;
position: relative;
box-shadow: 0 0 5px 4px #16a596;
border-radius: 30px;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(to right, #3797a4, #8bcdcd);
  transition: 0.5s;
}
.toggle-btn{
  padding: 20px 10px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.fab{
  padding: 1% 1%;
  color: #16a596;
}
.input-group{
  top: 160px;
  position: absolute;
  width: 280px;
  transition: .5s;
  margin: 0;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 0;
  cursor: pointer;
  display: block;
  margin: 35px 10px;
  background: linear-gradient(to right, #3797a4, #8bcdcd);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.explore{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 25px 45px;
  background: linear-gradient(to right, #3797a4, #8bcdcd);
  border: 0;
  outline: none;
  border-radius: 30px;
}
#login{
  left: 50px;
}
#signup{
  left: 450px;
}
