<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    user is logged in.
    <%= email %>
    <h1>welcome, <%= fname %></h1>
  </body>
</html>
